<div class="card mb-1" *ngFor="let imageImageQuestion of imageImageQuestions;">
  <div class="card-block row m-1 col-auto">
    <div class="card-body row align-items-center">
      <div class="col-2 m-1">
        <h6 class="card-subtitle text-muted">Image</h6>
        <!-- <img src="{{getImage(imageNameQuestion.image)}}" width="100"> -->
      </div>
    </div>
    <div class="col-2 m-1">
      <h6 class="card-subtitle text-muted"><strong>Solution</strong></h6>
      <p class="card-text">{{imageImageQuestion.solution}}</p>
    </div>
  </div>
</div>