<div class="card mb-1" *ngFor="let imageName of imageNameGames">
    <div class="card-block row m-1 col-12">
      <div class="card-body row align-items-center">
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Uri</h6>
          <a class="card-text" [routerLink]="['imageName.id']">{{imageName.uri}}</a>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Instructions</h6>
          <p class="card-text">{{imageName.instructions}}</p>
        </div>
        <p class="card-text">{{imageName.id}}</p>
      </div>
    </div>
  </div>
  
  <ngb-pagination class="d-flex justify-content-center"
                  [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalImageNameGames"
                  (pageChange)="changePage()"></ngb-pagination>
  
  