<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">Match Detail</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Name</h6>
        <p class="card-text">{{match.name}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Rating</h6>
        <p class="card-text">{{match.rating}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{match.description}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Creator</h6>
        <p class="card-text">{{match.contentCreator?.id}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Games</label>
      <div class="card mb-1" *ngFor="let game of games">
        <div class="card-block row m-1 col-12">
          <div class="card-body row align-items-center">
            <!--input type="checkbox" (click)="onSelect(game)"-->
            <div class="col-6 mt-1">
              <h6 class="card-subtitle text-muted">URI: {{game.uri}}</h6>
              <h6 class="card-subtitle text-muted">Instrucions: {{game.instructions}}</h6>
            </div>
            <button id="deleteGameBtn" type="button" (click)="deleteGame(game)"
                    class="btn m-1 btn-outline-danger">Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <button id="listBtn" type="button" [routerLink]="['/matches']"
              class="btn m-1 btn-outline-primary">Match List
      </button>
      <button id="editBtn" type="button" [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button" [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>
  </div>
</div>
