<div class="card mb-1" *ngFor="let imageNameQuestion of imageNameQuestions;">
    <div class="card-block row m-1 col-12">
      <div class="card-body row align-items-center">
          <div class="col-4 mt-1">
              <h6 class="card-subtitle text-muted">Image</h6>
              <img style="border-style:outset; width:100px;" src="{{getImage(imageNameQuestion.image)}}">
          </div>
          <div class="col-4 mt-1">
              <h6 class="card-subtitle text-muted">Solution</h6>
              <p class="card-text">{{imageNameQuestion.solution}}</p>
          </div>
          <div class="col-4 mt-1">
            <button id="editBtn" type="button" [routerLink]="['editQuestion', imageNameQuestion.id]"
                    class="btn m-1 btn-outline-success">Edit
            </button>
            <button id="deleteBtn" type="button" [routerLink]="['deleteQuestion', imageNameQuestion.id]"
                class="btn m-1 btn-outline-danger">Delete
            </button>
          </div>
      </div>
    </div>
</div>

