<div class="card mb-1" *ngFor="let imageOptionQuestion of imageOptionQuestions;">
  <div class="card-block row m-1 col-auto">
    <div class="card-body row align-items-center">
      <div class="col-1 m-1">
        <h6 class="card-subtitle text-muted">Image</h6>
        <!-- <img src="{{getImage(imageNameQuestion.image)}}" width="100"> -->
      </div>
      <div class="col-2 m-1">
        <h6 class="card-subtitle text-muted">OptionA</h6>
        <p class="card-text">{{imageOptionQuestion.optionA}}</p>

        <h6 class="card-subtitle text-muted">OptionB</h6>
        <p class="card-text">{{imageOptionQuestion.optionB}}</p>
      </div>
      <div class="col-2 m-1">
        <h6 class="card-subtitle text-muted">OptionC</h6>
        <p class="card-text">{{imageOptionQuestion.optionC}}</p>
        <h6 class="card-subtitle text-muted">OptionD</h6>
        <p class="card-text">{{imageOptionQuestion.optionD}}</p>
      </div>
      <div class="col-2 m-1">

        <h6 class="card-subtitle text-muted">OptionE</h6>
        <p class="card-text">{{imageOptionQuestion.optionE}}</p>

        <h6 class="card-subtitle text-muted"><strong>Solution</strong></h6>
        <p class="card-text">{{imageOptionQuestion.solution}}</p>
      </div>
      <div class="col-auto m-1">
        <button id="editBtn" type="button" [routerLink]="['editQuestion', imageOptionQuestion.ioq_id]"
                class="btn m-1 btn-outline-success">Edit
        </button>
        <button id="deleteBtn" type="button" [routerLink]="['deleteQuestion', imageOptionQuestion.ioq_id]"
                class="btn m-1 btn-outline-danger">Delete
        </button>
      </div>
    </div>
  </div>
</div>

