<h2>Questions</h2>
<form id="image-option-question-list" (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="card mb-1" *ngFor="let imageOptionQuestion of imageOptionQuestions;">
    <div class="card-block row m-1 col-12">
      <div class="card-body row align-items-center">
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Uri</h6>
          <a class="card-text" >{{imageOptionQuestion.uri}}</a>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Image</h6>
          <p class="card-text">{{imageOptionQuestion.image}}</p>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">OptionA</h6>
          <p class="card-text">{{imageOptionQuestion.optionA}}</p>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">OptionB</h6>
          <p class="card-text">{{imageOptionQuestion.optionB}}</p>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">OptionC</h6>
          <p class="card-text">{{imageOptionQuestion.optionC}}</p>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">OptionD</h6>
          <p class="card-text">{{imageOptionQuestion.optionD}}</p>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">OptionE</h6>
          <p class="card-text">{{imageOptionQuestion.optionE}}</p>
        </div>
        <div class="col-6 mt-1">
          <h6 class="card-subtitle text-muted">Solution</h6>
          <p class="card-text">{{imageOptionQuestion.solution}}</p>
        </div>
      </div>
    </div>
  </div>
  <fieldset>
    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Create</button> <!--ruta de creació-->
      <button id="addBtn" type="button" [routerLink]="['/image-option-question/new']" class="btn m-1 btn-outline-primary pull-right">Add question</button>
    </div>

  </fieldset>
</form>

