<form id="match-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Instruction input -->
    <div class="form-group">
      <label class="control-label" for="name">Name</label>
      <input id="name" name="name" type="text" class="form-control" required
             [(ngModel)]="match.name">
    </div>

    <div class="form-group">
      <label class="control-label" for="rating">Rating</label>
      <input id="rating" name="rating" type="number" class="form-control" required
             [(ngModel)]="match.rating">
    </div>

    <div class="form-group">
      <label class="control-label" for="rating">Description</label>
      <input id="description" name="description" type="text" class="form-control" required
             [(ngModel)]="match.description">
    </div>


    <div class="form-group">
      <label class="control-label">Games</label>
       <div class="card mb-1" *ngFor="let game of games">
        <div class="card-block row m-1 col-12">
         <div class="card-body row align-items-center">
           <input type="checkbox" (click)="onSelect(game)">
          <div class="col-6 mt-1">
           <h6 class="card-subtitle text-muted">URI: {{game.uri}}</h6>
           <h6 class="card-subtitle text-muted">Instrucions: {{game.instructions}}</h6>
          </div>
         </div>
        </div>
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right"
              [disabled]="!form.form.valid">Submit</button>
    </div>

  </fieldset>
</form>
