<div class="card mb-4">
    <div class="card-block">
      <h4 class="card-title col-md-12 p-3">{{imageName.uri}}</h4>
      <div class="card-body row m-1">
        <div class="col-md-6 p-3">
          <h6 class="card-subtitle text-muted">ID</h6>
          <p class="card-text">{{id}}</p>
        </div>
        <div class="col-md-6 p-3">
          <h6 class="card-subtitle text-muted">Instructions</h6>
          <p class="card-text">{{imageName.instructions}}</p>
        </div>
      </div>
      <div class="row m-1">
        <div class="sliderWrapper">
          <div>On selected user should write solution. Else, should match question with solution&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <label class="switch">
              <input type="checkbox" [checked]="imageName.isWrite" (change)="onCheckedBox($event.target)">
              <span class="slider round"></span>
            </label>
        </div>
      </div>
      <div class="card mb-3 card-block">
        <div class="card-body row m-1">
          <div class="col-md-12">
            <h6 class="card-subtitle text-muted">Questions</h6>
            <app-image-name-question-list></app-image-name-question-list>
            <div class="d-flex justify-content-end">
              <button id="createBtn" type="button" class="btn m-1 btn-primary" [routerLink]="['addQuestion']" routerLinkActive="router-link-active" >
                Create
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button id="listBtn" type="button" [routerLink]="['/imageNames']"
                class="btn m-1 btn-outline-primary">ImageName Games List
        </button>
        <button id="editBtn" type="button" [routerLink]="['edit']"
                class="btn m-1 btn-outline-success">Edit
        </button>
        <!-- TODO: include *ngIF to be sure who wants to delete the game is the crator-->
        <button id="deleteBtn" type="button" [routerLink]="['delete']"
                class="btn m-1 btn-outline-danger">Delete
        </button>
      </div>
    </div>
  </div>
